language: java
jdk: openjdk8
branches:
  only:
  - master
cache:
  directories:
  - "$HOME/.m2"
env:
  global:
  - secure: xlR0xcWNeatz/8QPVaz9m0hvUayxAZ5Bhdnz8/lb/bdyzEo99mOIw3NHz/3Mxfjv1cion/t4RZrWIe6TSKSsSZD2fFQO7rDbmGb5rgtJwU4q/I3F/6XaJARDwbH+epVPK02itlxfcP6l+Jo3qQuOB5iBDGX2k97bczrKNCMHrWinCaqZOMMytPFegttku43msWu23IPSTZJckQC+O2Sk6TUY8nX2QmCrpAgWC7HLx0mma8/XZn0k+MlOmKManW7bGXZ0p+V19SjineqnTcQtiEId8GCOvNuUntUT1Kk1Q5MV544GE0jPyquZZmxJdE46h6XaGGiOsAiygDX3d7BwEyxZMoNDg19UqoYEsWKmj9J5fYps9sqhkkY8nDAUtefiUVARllSceiWpJsbCyJDgfYhFlp3p4KZKWoHKgcBksPtUM16bEYriE58zx7k+2X3DmRmX/Wvz7+6hUoWdTMYzuSyvF3QODzrFxCcOttlMZg0Q1OeWzf6iP2x1D8QVrOVIkuVltd5OCgAgWACZDaDOM8NxQXOwB7d41tEVUTf4yUN1609PrFwZj34FcwRkNJC+HvxpBtl9zsa0mrgbv3GwV358I4DpNWVppa/6p1dLX3CBpj2N9hY71SI1FyY+tOj/mzBaNfPKBrX22X1SiosfCDkAQP1TfdjGezZnzq+gkD4=
  - secure: pI5xg3MqOYwXdzoAVsHRfjLuRoxHc6t8+g6khQXwZOPga7/PDtr3M5iUHerP+kcJn/Zdk3MeKfgPfOUB+6ouCSq6IjLI40NyEqIHI4P53ZvHBoV7S3IcUDr1qgKhoJ/fGPVi8S8RP+9eVq9i59NVnjnUy63/rxyFDqof4tNEx/oikaUDKfoKKVFiYgq8G0O+Gi8sXKmdFfIxajPMQm6Rf9gAPlfVIDuz4h/zu7l6Xdco/qzZe6isAkzvMonbpbOg/QzwyQO3TSHM4srU1gP8UOXlxasyzIxNt5DU+cI1NHECBoCXIHHhW6JSkP9SAnqaUd7hXykBlbU/LclTuEbfHdRg4wiT4JHC1kHQp86Qg3n29zxyBaFs5jHgn6D6pA89G4GoJG9boUEmcSkm4HPxWdPhVBlvw/OZ4OSBcmde99wpNnEZm23XekPkVds9dTkhL99oAWtUrcqoP3s4C9JuIys4BFgcn13fZPcbOfZ8rF3CTJ/bmLonrri1j02BjJPI848tY8uD+7vnxBS6sSmp9UlAkQTbbK07ob9klF5x9MaGuTa3gP0mUpgWP4VOBD6SJQtsvTEb9fSB9vKc+k5CeHu4JI6RTWCyHj2cO9lzai8RUXzC9G7MkZFkgLL/yeP4u8IJDpR7DkyIrbsClqyH8Jf8PSFAs/RrBwOcRHNpZik=
install:
- mvn dependency:purge-local-repository -DmanualInclude="uk.ac.sussex.gdsc:gdsc-ij-parent,uk.ac.sussex.gdsc:gdsc-core,uk.ac.sussex.gdsc:gdsc-core-ij"
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
after_success:
- mvn clean test -P coveralls,jacoco jacoco:report coveralls:report
