###
# #%L
# Genome Damage and Stability Centre ImageJ Plugins
# 
# Software for microscopy image analysis
# %%
# Copyright (C) 2011 - 2022 Alex Herbert
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###

Plugins>GDSC>Cells, "Nuclei Outline", uk.ac.sussex.gdsc.ij.foci.NucleiOutline_PlugIn

# Stack Threshold may move to the Thresholding menu
Plugins>GDSC>Colocalisation, "Stack Threshold", uk.ac.sussex.gdsc.ij.threshold.StackThreshold_PlugIn
Plugins>GDSC>Colocalisation, "Colocalisation Threshold", uk.ac.sussex.gdsc.ij.colocalisation.ColocalisationThreshold_PlugIn
Plugins>GDSC>Colocalisation, "CDA", uk.ac.sussex.gdsc.ij.colocalisation.cda.Cda_PlugIn
Plugins>GDSC>Colocalisation, "CDA (macro)", uk.ac.sussex.gdsc.ij.colocalisation.cda.Cda_PlugIn("macro")
Plugins>GDSC>Colocalisation, "Stack Correlation Analyser", uk.ac.sussex.gdsc.ij.colocalisation.StackCorrelationAnalyser_PlugIn
Plugins>GDSC>Colocalisation, "Stack Colocalisation Analyser", uk.ac.sussex.gdsc.ij.colocalisation.StackColocalisationAnalyser_PlugIn
Plugins>GDSC>Colocalisation, "Particle Overlap", uk.ac.sussex.gdsc.ij.colocalisation.ParticleOverlap_PlugIn
Plugins>GDSC>Colocalisation, "Particle Correlation", uk.ac.sussex.gdsc.ij.colocalisation.ParticleCorrelation_PlugIn
Plugins>GDSC>Colocalisation, "Colocated Mask", uk.ac.sussex.gdsc.ij.colocalisation.ColocatedMask_PlugIn

Plugins>GDSC>FindFoci, "FindFoci", uk.ac.sussex.gdsc.ij.foci.FindFoci_PlugIn
Plugins>GDSC>FindFoci, "FindFoci GUI", uk.ac.sussex.gdsc.ij.foci.FindFociGui_PlugIn
Plugins>GDSC>FindFoci, "FindFoci Batch", uk.ac.sussex.gdsc.ij.foci.FindFoci_PlugIn("batch")
Plugins>GDSC>FindFoci, "FindFoci Optimiser", uk.ac.sussex.gdsc.ij.foci.FindFociOptimiser_PlugIn
Plugins>GDSC>FindFoci, "FindFoci Optimiser GUI", uk.ac.sussex.gdsc.ij.foci.FindFociOptimiser_PlugIn("frame")
Plugins>GDSC>FindFoci, "FindFoci Optimiser Multi-Image", uk.ac.sussex.gdsc.ij.foci.FindFociOptimiser_PlugIn("multi")
Plugins>GDSC>FindFoci, "FindFoci Helper", uk.ac.sussex.gdsc.ij.foci.FindFociHelper_PlugIn
Plugins>GDSC>FindFoci, "FindFoci Settings", uk.ac.sussex.gdsc.ij.foci.FindFoci_PlugIn("settings")
Plugins>GDSC>FindFoci, "FindFoci Match Calculator", uk.ac.sussex.gdsc.ij.foci.Match_PlugIn("memory")
Plugins>GDSC>FindFoci, "FindFoci Macro Extensions", uk.ac.sussex.gdsc.ij.foci.FindFoci_PlugIn("ext")
Plugins>GDSC>FindFoci, "-"
Plugins>GDSC>FindFoci, "Match Calculator", uk.ac.sussex.gdsc.ij.foci.Match_PlugIn
Plugins>GDSC>FindFoci, "File Match Calculator", uk.ac.sussex.gdsc.ij.foci.FileMatchCalculator_PlugIn
Plugins>GDSC>FindFoci, "Point Aligner", uk.ac.sussex.gdsc.ij.foci.PointAligner_PlugIn
Plugins>GDSC>FindFoci, "Point Extractor", uk.ac.sussex.gdsc.ij.foci.PointExtractor_PlugIn
Plugins>GDSC>FindFoci, "Spot Distance", uk.ac.sussex.gdsc.ij.foci.SpotDistance_PlugIn
Plugins>GDSC>FindFoci, "Spot Pairs", uk.ac.sussex.gdsc.ij.foci.SpotPairs_PlugIn
Plugins>GDSC>FindFoci, "Mask Segregator", uk.ac.sussex.gdsc.ij.foci.MaskSegregator_PlugIn
Plugins>GDSC>FindFoci, "Double Mask Segregator", uk.ac.sussex.gdsc.ij.foci.DoubleMaskSegregator_PlugIn
Plugins>GDSC>FindFoci, "Mask Analyze Particles...", uk.ac.sussex.gdsc.ij.utils.MaskParticleAnalyzer_PlugIn
Plugins>GDSC>FindFoci, "Spot Density", uk.ac.sussex.gdsc.ij.foci.SpotDensity_PlugIn
Plugins>GDSC>FindFoci, "Mask Object Dimensions", uk.ac.sussex.gdsc.ij.foci.MaskObjectDimensions_PlugIn
Plugins>GDSC>FindFoci, "Assign Foci to Objects", uk.ac.sussex.gdsc.ij.foci.AssignFociToObjects_PlugIn
Plugins>GDSC>FindFoci, "Assign Foci to Clusters", uk.ac.sussex.gdsc.ij.foci.AssignFociToClusters_PlugIn
Plugins>GDSC>FindFoci, "Translocation Finder", uk.ac.sussex.gdsc.ij.foci.TranslocationFinder_PlugIn
Plugins>GDSC>FindFoci, "Translocation Finder (Tool)", uk.ac.sussex.gdsc.ij.foci.TranslocationFinder_PlugIn("tool")
Plugins>GDSC>FindFoci, "Spot Radial Intensity", uk.ac.sussex.gdsc.ij.foci.SpotRadialIntensity_PlugIn
Plugins>GDSC>FindFoci, "Spot Pair Distance", uk.ac.sussex.gdsc.ij.foci.SpotPairDistance_PlugIn
Plugins>GDSC>FindFoci, "Object Foci Depth", uk.ac.sussex.gdsc.ij.foci.ObjectFociDepth_PlugIn

Plugins>GDSC>Thresholding, "Global Threshold", uk.ac.sussex.gdsc.ij.threshold.AutoThreshold_PlugIn
Plugins>GDSC>Thresholding, "Multi-Threshold", uk.ac.sussex.gdsc.ij.threshold.MultiOtsuThreshold_PlugIn
Plugins>GDSC>Thresholding, "Mask Creater", uk.ac.sussex.gdsc.ij.threshold.MaskCreater_PlugIn
Plugins>GDSC>Thresholding, "Edge Mask", uk.ac.sussex.gdsc.ij.threshold.EdgeMask_PlugIn
Plugins>GDSC>Thresholding, "Apply Mask", uk.ac.sussex.gdsc.ij.threshold.ApplyMask_PlugIn
Plugins>GDSC>Thresholding, "Skeleton Analyser", uk.ac.sussex.gdsc.ij.threshold.SkeletonAnalyser_PlugIn
Plugins>GDSC>Thresholding, "Thread Analyser", uk.ac.sussex.gdsc.ij.threshold.ThreadAnalyser_PlugIn
#Plugins>GDSC>Thresholding, "RGB Threshold Analyser", uk.ac.sussex.gdsc.ij.threshold.RgbThresholdAnalyser_PlugIn
Plugins>GDSC>Thresholding, "Foreground Analyser", uk.ac.sussex.gdsc.ij.threshold.ForegroundAnalyser_PlugIn
Plugins>GDSC>Thresholding, "Threshold Outliner", uk.ac.sussex.gdsc.ij.threshold.ThresholdOutliner_PlugIn

Plugins>GDSC>Utils, "Contrast Enhancer", uk.ac.sussex.gdsc.ij.utils.ContrastEnhancer_PlugIn
Plugins>GDSC>Utils, "Difference of Gaussians", uk.ac.sussex.gdsc.ij.utils.DifferenceOfGaussians_PlugIn
Plugins>GDSC>Utils, "Laplacian of Gaussian", uk.ac.sussex.gdsc.ij.utils.LaplacianOfGaussian_PlugIn
Plugins>GDSC>Utils, "Align Images", uk.ac.sussex.gdsc.ij.utils.AlignImages_PlugIn
Plugins>GDSC>Utils, "Align Images FFT", uk.ac.sussex.gdsc.ij.utils.AlignImagesFft_PlugIn
Plugins>GDSC>Utils, "Align Stacks", uk.ac.sussex.gdsc.ij.utils.AlignStacks_PlugIn
Plugins>GDSC>Utils, "Image Scaler", uk.ac.sussex.gdsc.ij.utils.ImageScaler_PlugIn
Plugins>GDSC>Utils, "Cell Outliner", uk.ac.sussex.gdsc.ij.utils.CellOutliner_PlugIn
Plugins>GDSC>Utils, "Spot Analyser", uk.ac.sussex.gdsc.ij.foci.SpotAnalyser_PlugIn
Plugins>GDSC>Utils, "HSB Picker", uk.ac.sussex.gdsc.ij.utils.HsbPicker_PlugIn
Plugins>GDSC>Utils, "HSB Filter", uk.ac.sussex.gdsc.ij.utils.HsbFilter_PlugIn
Plugins>GDSC>Utils, "Spot Separation", uk.ac.sussex.gdsc.ij.foci.SpotSeparation_PlugIn
Plugins>GDSC>Utils, "Z Project extra...", uk.ac.sussex.gdsc.ij.utils.ExtendedZProjector_PlugIn
#Plugins>GDSC>Utils, "Lottery", uk.ac.sussex.gdsc.ij.utils.Lottery_PlugIn
Plugins>GDSC>Utils, "Intensity Analysis", uk.ac.sussex.gdsc.ij.utils.IntensityAnalysis_PlugIn
Plugins>GDSC>Utils, "Measure 3D", uk.ac.sussex.gdsc.ij.utils.Measure3D_PlugIn
Plugins>GDSC>Utils, "Scale Space", uk.ac.sussex.gdsc.ij.utils.ScaleSpace_PlugIn
Plugins>GDSC>Utils, "FRAP Analysis", uk.ac.sussex.gdsc.ij.utils.FrapAnalysis_PlugIn

Plugins>GDSC, "-"
Plugins>GDSC, "Usage Tracker", uk.ac.sussex.gdsc.ij.UsageTracker

Help>About Plugins, "GDSC Plugins...", uk.ac.sussex.gdsc.ij.About_PlugIn("about")
