#
# plugins.config
#

# GDSC Plugins for ImageJ: a collection of ImageJ plugins including:
# Confined Displacement Algorithm (CDA) analysis for colocalisation
# Find Foci algorithm for foci identification 
# Copyright (C) 2011 Alex Herbert.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

Plugins>GDSC>Colocalisation, "Stack Threshold", gdsc.threshold.Stack_Threshold
Plugins>GDSC>Colocalisation, "Colocalisation Threshold", gdsc.colocalisation.ColocalisationThreshold_Plugin
Plugins>GDSC>Colocalisation, "CDA", gdsc.colocalisation.cda.CDA_Plugin
Plugins>GDSC>Colocalisation, "CDA (macro)", gdsc.colocalisation.cda.CDA_Plugin("macro")
Plugins>GDSC>Colocalisation, "Stack Correlation Analyser", gdsc.colocalisation.Stack_Correlation_Analyser
Plugins>GDSC>Colocalisation, "Stack Colocalisation Analyser", gdsc.colocalisation.Stack_Colocalisation_Analyser
Plugins>GDSC>Colocalisation, "Particle Overlap", gdsc.colocalisation.ParticleOverlap

Plugins>GDSC>FindFoci, "FindFoci", gdsc.foci.FindFoci
Plugins>GDSC>FindFoci, "FindFoci GUI", gdsc.foci.FindFociPlugin
Plugins>GDSC>FindFoci, "FindFoci Batch", gdsc.foci.FindFoci("batch")
Plugins>GDSC>FindFoci, "FindFoci Optimiser", gdsc.foci.FindFociOptimiser
Plugins>GDSC>FindFoci, "FindFoci Optimiser GUI", gdsc.foci.FindFociOptimiser("frame")
Plugins>GDSC>FindFoci, "FindFoci Optimiser Multi-Image", gdsc.foci.FindFociOptimiser("multi")
Plugins>GDSC>FindFoci, "FindFoci Helper", gdsc.foci.FindFociHelperPlugin
Plugins>GDSC>FindFoci, "-"
Plugins>GDSC>FindFoci, "Match Calculator", gdsc.foci.MatchPlugin
Plugins>GDSC>FindFoci, "File Match Calculator", gdsc.foci.FileMatchCalculator
Plugins>GDSC>FindFoci, "Point Aligner", gdsc.foci.PointAlignerPlugin
Plugins>GDSC>FindFoci, "Point Extractor", gdsc.foci.PointExtractorPlugin
Plugins>GDSC>FindFoci, "Spot Distance", gdsc.foci.SpotDistance
Plugins>GDSC>FindFoci, "Spot Pairs", gdsc.foci.SpotPairs
Plugins>GDSC>FindFoci, "Mask Segregator", gdsc.foci.MaskSegregator
Plugins>GDSC>FindFoci, "Mask Analyze Particles...", gdsc.utils.MaskParticleAnalyzerRunner
Plugins>GDSC>FindFoci, "Spot Density", gdsc.foci.SpotDensity

Plugins>GDSC>Thresholding, "Global Threshold", gdsc.threshold.Auto_Threshold
Plugins>GDSC>Thresholding, "Multi-Threshold", gdsc.threshold.Multi_OtsuThreshold
Plugins>GDSC>Thresholding, "Mask Creater", gdsc.threshold.MaskCreater
Plugins>GDSC>Thresholding, "Edge Mask", gdsc.threshold.EdgeMask
Plugins>GDSC>Thresholding, "Apply Mask", gdsc.threshold.ApplyMask
Plugins>GDSC>Thresholding, "Skeleton Analyser", gdsc.threshold.SkeletonAnalyser
Plugins>GDSC>Thresholding, "Thread Analyser", gdsc.threshold.ThreadAnalyser
#Plugins>GDSC>Thresholding, "RGB Threshold Analyser", gdsc.threshold.RGBThresholdAnalyser

Plugins>GDSC>Utils, "Contrast Enhancer", gdsc.utils.Contrast_Enhancer
Plugins>GDSC>Utils, "Difference of Gaussians", gdsc.utils.DifferenceOfGaussiansRunner
Plugins>GDSC>Utils, "Stack Synchroniser", gdsc.utils.Stack_Synchroniser
Plugins>GDSC>Utils, "Align Images", gdsc.utils.Align_Images
Plugins>GDSC>Utils, "Align Images FFT", gdsc.utils.Align_Images_FFT
Plugins>GDSC>Utils, "Align Stacks", gdsc.utils.Align_Stacks
Plugins>GDSC>Utils, "Image Scaler", gdsc.utils.Image_Scaler
Plugins>GDSC>Utils, "Cell Outliner", gdsc.utils.Cell_Outliner
Plugins>GDSC>Utils, "Spot Analyser", gdsc.foci.SpotAnalyser
Plugins>GDSC>Utils, "HSB Picker", gdsc.utils.HSB_Picker
Plugins>GDSC>Utils, "HSB Filter", gdsc.utils.HSB_Filter
Plugins>GDSC>Utils, "Spot Separation", gdsc.foci.SpotSeparation

Help>About Plugins, "GDSC Plugins...", gdsc.About_Plugin("about")
