#
# plugins.config
#

# GDSC Plugins for ImageJ: a collection of ImageJ plugins including:
# Confined Displacement Algorithm (CDA) analysis for colocalisation
# Find Foci algorithm for foci identification 
# Copyright (C) 2011 Alex Herbert.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

Plugins>GDSC, "Stack Threshold", gdsc.threshold.Stack_Threshold
Plugins>GDSC, "Colocalisation Threshold", gdsc.colocalisation.ColocalisationThreshold_Plugin
Plugins>GDSC, "CDA", gdsc.colocalisation.cda.CDA_Plugin
Plugins>GDSC, "Stack Correlation Analyser", gdsc.colocalisation.Stack_Correlation_Analyser
Plugins>GDSC, "Stack Colocalisation Analyser", gdsc.colocalisation.Stack_Colocalisation_Analyser
Plugins>GDSC, "Particle Overlap", gdsc.colocalisation.ParticleOverlap

Plugins>GDSC, "-"
Plugins>GDSC, "FindFoci", gdsc.foci.FindFoci
Plugins>GDSC, "FindFoci GUI", gdsc.foci.FindFociPlugin
Plugins>GDSC, "FindFoci Optimiser", gdsc.foci.FindFociOptimiser
Plugins>GDSC, "FindFoci Optimiser GUI", gdsc.foci.FindFociOptimiser("frame")
Plugins>GDSC, "FindFoci Helper", gdsc.foci.FindFociHelperPlugin
Plugins>GDSC, "Match Calculator", gdsc.foci.MatchPlugin
Plugins>GDSC, "File Match Calculator", gdsc.foci.FileMatchCalculator
Plugins>GDSC, "Point Aligner", gdsc.foci.PointAlignerPlugin
Plugins>GDSC, "Point Extractor", gdsc.foci.PointExtractorPlugin
Plugins>GDSC, "Spot Distance", gdsc.foci.SpotDistance
Plugins>GDSC, "Spot Pairs", gdsc.foci.SpotPairs

Plugins>GDSC, "-"
Plugins>GDSC, "Threshold", gdsc.threshold.Auto_Threshold
Plugins>GDSC, "Multi-Threshold", gdsc.threshold.Multi_OtsuThreshold
Plugins>GDSC, "Mask Creater", gdsc.threshold.MaskCreater
Plugins>GDSC, "Edge Mask", gdsc.threshold.EdgeMask
Plugins>GDSC, "Apply Mask", gdsc.threshold.ApplyMask
Plugins>GDSC, "Skeleton Analyser", gdsc.threshold.SkeletonAnalyser
Plugins>GDSC, "Thread Analyser", gdsc.threshold.ThreadAnalyser
Plugins>GDSC, "-"
Plugins>GDSC, "Contrast Enhancer", gdsc.utils.Contrast_Enhancer
Plugins>GDSC, "Difference of Gaussians", gdsc.utils.DifferenceOfGaussiansRunner
Plugins>GDSC, "Stack Synchroniser", gdsc.utils.Stack_Synchroniser
Plugins>GDSC, "Align Images", gdsc.utils.Align_Images
Plugins>GDSC, "Align Images FFT", gdsc.utils.Align_Images_FFT
Plugins>GDSC, "Align Stacks", gdsc.utils.Align_Stacks
Plugins>GDSC, "Image Scaler", gdsc.utils.Image_Scaler
Plugins>GDSC, "Cell Outliner", gdsc.utils.Cell_Outliner
Plugins>GDSC, "Spot Analyser", gdsc.foci.SpotAnalyser
Plugins>GDSC, "HSB Picker", gdsc.utils.HSB_Picker
Plugins>GDSC, "HSB Filter", gdsc.utils.HSB_Filter
Plugins>GDSC, "Spot Separation", gdsc.foci.SpotSeparation

Help>About Plugins, "GDSC Plugins...", gdsc.About_Plugin("about")
