###
# #%L
# Genome Damage and Stability Centre ImageJ Plugins
# 
# Software for microscopy image analysis
# %%
# Copyright (C) 2011 - 2018 Alex Herbert
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###
#
# plugins.config
#

# GDSC Plugins for ImageJ: a collection of ImageJ plugins including:
# Confined Displacement Algorithm (CDA) analysis for colocalisation
# Find Foci algorithm for foci identification 
# Copyright (C) 2011 Alex Herbert.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

Plugins>GDSC>Colocalisation, "Stack Threshold", uk.ac.sussex.gdsc.threshold.Stack_Threshold
Plugins>GDSC>Colocalisation, "Colocalisation Threshold", uk.ac.sussex.gdsc.colocalisation.ColocalisationThreshold_Plugin
Plugins>GDSC>Colocalisation, "CDA", uk.ac.sussex.gdsc.colocalisation.cda.CDA_Plugin
Plugins>GDSC>Colocalisation, "CDA (macro)", uk.ac.sussex.gdsc.colocalisation.cda.CDA_Plugin("macro")
Plugins>GDSC>Colocalisation, "Stack Correlation Analyser", uk.ac.sussex.gdsc.colocalisation.Stack_Correlation_Analyser
Plugins>GDSC>Colocalisation, "Stack Colocalisation Analyser", uk.ac.sussex.gdsc.colocalisation.Stack_Colocalisation_Analyser
Plugins>GDSC>Colocalisation, "Particle Overlap", uk.ac.sussex.gdsc.colocalisation.ParticleOverlap
Plugins>GDSC>Colocalisation, "Particle Correlation", uk.ac.sussex.gdsc.colocalisation.ParticleCorrelation
Plugins>GDSC>Colocalisation, "Colocated Mask", uk.ac.sussex.gdsc.colocalisation.ColocatedMask

Plugins>GDSC>FindFoci, "FindFoci", uk.ac.sussex.gdsc.foci.FindFoci
Plugins>GDSC>FindFoci, "FindFoci GUI", uk.ac.sussex.gdsc.foci.FindFociPlugin
Plugins>GDSC>FindFoci, "FindFoci Batch", uk.ac.sussex.gdsc.foci.FindFoci("batch")
Plugins>GDSC>FindFoci, "FindFoci Optimiser", uk.ac.sussex.gdsc.foci.FindFociOptimiser
Plugins>GDSC>FindFoci, "FindFoci Optimiser GUI", uk.ac.sussex.gdsc.foci.FindFociOptimiser("frame")
Plugins>GDSC>FindFoci, "FindFoci Optimiser Multi-Image", uk.ac.sussex.gdsc.foci.FindFociOptimiser("multi")
Plugins>GDSC>FindFoci, "FindFoci Helper", uk.ac.sussex.gdsc.foci.FindFociHelperPlugin
Plugins>GDSC>FindFoci, "FindFoci Settings", uk.ac.sussex.gdsc.foci.FindFoci("settings")
Plugins>GDSC>FindFoci, "FindFoci Match Calculator", uk.ac.sussex.gdsc.foci.MatchPlugin("memory")
Plugins>GDSC>FindFoci, "-"
Plugins>GDSC>FindFoci, "Match Calculator", uk.ac.sussex.gdsc.foci.MatchPlugin
Plugins>GDSC>FindFoci, "File Match Calculator", uk.ac.sussex.gdsc.foci.FileMatchCalculator
Plugins>GDSC>FindFoci, "Point Aligner", uk.ac.sussex.gdsc.foci.PointAlignerPlugin
Plugins>GDSC>FindFoci, "Point Extractor", uk.ac.sussex.gdsc.foci.PointExtractorPlugin
Plugins>GDSC>FindFoci, "Spot Distance", uk.ac.sussex.gdsc.foci.SpotDistance
Plugins>GDSC>FindFoci, "Spot Pairs", uk.ac.sussex.gdsc.foci.SpotPairs
Plugins>GDSC>FindFoci, "Mask Segregator", uk.ac.sussex.gdsc.foci.MaskSegregator
Plugins>GDSC>FindFoci, "Double Mask Segregator", uk.ac.sussex.gdsc.foci.DoubleMaskSegregator
Plugins>GDSC>FindFoci, "Mask Analyze Particles...", uk.ac.sussex.gdsc.utils.MaskParticleAnalyzerRunner
Plugins>GDSC>FindFoci, "Spot Density", uk.ac.sussex.gdsc.foci.SpotDensity
Plugins>GDSC>FindFoci, "Mask Object Dimensions", uk.ac.sussex.gdsc.foci.MaskObjectDimensions
Plugins>GDSC>FindFoci, "Assign Foci to Objects", uk.ac.sussex.gdsc.foci.AssignFociToObjects
Plugins>GDSC>FindFoci, "Assign Foci to Clusters", uk.ac.sussex.gdsc.foci.AssignFociToClusters
Plugins>GDSC>FindFoci, "Translocation Finder", uk.ac.sussex.gdsc.foci.TranslocationFinder
Plugins>GDSC>FindFoci, "Translocation Finder (Tool)", uk.ac.sussex.gdsc.foci.TranslocationFinder("tool")
Plugins>GDSC>FindFoci, "Spot Radial Intensity", uk.ac.sussex.gdsc.foci.SpotRadialIntensity
Plugins>GDSC>FindFoci, "Spot Pair Distance", uk.ac.sussex.gdsc.foci.SpotPairDistance

Plugins>GDSC>Thresholding, "Global Threshold", uk.ac.sussex.gdsc.threshold.Auto_Threshold
Plugins>GDSC>Thresholding, "Multi-Threshold", uk.ac.sussex.gdsc.threshold.Multi_OtsuThreshold
Plugins>GDSC>Thresholding, "Mask Creater", uk.ac.sussex.gdsc.threshold.MaskCreater
Plugins>GDSC>Thresholding, "Edge Mask", uk.ac.sussex.gdsc.threshold.EdgeMask
Plugins>GDSC>Thresholding, "Apply Mask", uk.ac.sussex.gdsc.threshold.ApplyMask
Plugins>GDSC>Thresholding, "Skeleton Analyser", uk.ac.sussex.gdsc.threshold.SkeletonAnalyser
Plugins>GDSC>Thresholding, "Thread Analyser", uk.ac.sussex.gdsc.threshold.ThreadAnalyser
#Plugins>GDSC>Thresholding, "RGB Threshold Analyser", uk.ac.sussex.gdsc.threshold.RGBThresholdAnalyser
Plugins>GDSC>Thresholding, "Foreground Analyser", uk.ac.sussex.gdsc.threshold.ForegroundAnalyser

Plugins>GDSC>Utils, "Contrast Enhancer", uk.ac.sussex.gdsc.utils.Contrast_Enhancer
Plugins>GDSC>Utils, "Difference of Gaussians", uk.ac.sussex.gdsc.utils.DifferenceOfGaussiansRunner
# Use Analyze>Tools>Synchronize Windows
#Plugins>GDSC>Utils, "Stack Synchroniser", uk.ac.sussex.gdsc.utils.Stack_Synchroniser
Plugins>GDSC>Utils, "Align Images", uk.ac.sussex.gdsc.utils.Align_Images
Plugins>GDSC>Utils, "Align Images FFT", uk.ac.sussex.gdsc.utils.Align_Images_FFT
Plugins>GDSC>Utils, "Align Stacks", uk.ac.sussex.gdsc.utils.Align_Stacks
Plugins>GDSC>Utils, "Image Scaler", uk.ac.sussex.gdsc.utils.Image_Scaler
Plugins>GDSC>Utils, "Cell Outliner", uk.ac.sussex.gdsc.utils.Cell_Outliner
Plugins>GDSC>Utils, "Spot Analyser", uk.ac.sussex.gdsc.foci.SpotAnalyser
Plugins>GDSC>Utils, "HSB Picker", uk.ac.sussex.gdsc.utils.HSB_Picker
Plugins>GDSC>Utils, "HSB Filter", uk.ac.sussex.gdsc.utils.HSB_Filter
Plugins>GDSC>Utils, "Spot Separation", uk.ac.sussex.gdsc.foci.SpotSeparation
Plugins>GDSC>Utils, "Z Project2...", uk.ac.sussex.gdsc.utils.ZProjector2Runner
#Plugins>GDSC>Utils, "Lottery", uk.ac.sussex.gdsc.utils.Lottery
Plugins>GDSC>Utils, "Intensity Analysis", uk.ac.sussex.gdsc.utils.IntensityAnalysis
Plugins>GDSC>Utils, "Measure 3D", uk.ac.sussex.gdsc.utils.Measure3D

Plugins>GDSC, "-"
Plugins>GDSC, "Usage Tracker", uk.ac.sussex.gdsc.UsageTracker

Help>About Plugins, "GDSC Plugins...", uk.ac.sussex.gdsc.About_Plugin("about")
